*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.component{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw;
    height: auto;
    margin: 25px;
    justify-content: space-between;
}

.form{
    width: calc(50% - 35px);
    background-color: rgba(211, 211, 211, 0.4);
    border-radius: 1rem;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .form h2{
        color: rgb(0, 110, 189);
        padding: 20px 20px 10px 20px;
        width: 85%;
        border-bottom: 1px solid blue;
        box-shadow: 0px 4px 2px -2px rgba(0, 0, 255, 0.8);
    }

.fieldForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    padding: 40px;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
    .field input{
        padding: 15px;
        border-radius: 0.5rem;
        border: none;

    }
    .field textarea{
        padding: 15px;
        border-radius: 0.5rem;
        border: none;
    }
    
    

.news{
    background-color:rgba(211, 211, 211, 0.4);
    border-radius: 1rem;
    padding: 25px 30px;
    height: 100vh;
    width: calc(50% - 35px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eachNew{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
    .news h2{
        color: rgb(0, 110, 189);
        border-bottom: 1px solid blue;
        box-shadow: 0px 4px 2px -2px rgb(0, 0, 255, 0.8);
        width: 80%;
        margin-bottom: 20px;
        padding: 20px 20px 10px 20px;
    }
    .new{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid black;
        border-radius: 1rem;
        padding: 15px;
        
        max-width: calc(33% - 15px);
        gap: 10px;
    }
        .new img{
            width: 100%;
            height: auto;
        }
        .new span{
            color: rgb(163, 163, 163);
            font-size: 15px;
            letter-spacing: 0.1rem;
        }
        .new p{
            font-size: 12px;
            font-weight: 200;
            letter-spacing: 0.05rem;
        }

.button{
    border: none;
    background-color: rgb(0, 119, 255);
    color: white;
    padding: 15px;
    width: 50%; 
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.15rem;
}

